.app__post{
  box-sizing: border-box;  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 1px 40px;
  gap: 24px;
  /* isolation: isolate; */
  /* position: absolute; */
  max-width: 430px;
  height: 100%;
  background: #00373D;
  border: 1px solid #FFFFFF;
  
}

.app__post-image{

}

.app__post-image img{
  width: 428px;
  height: 430px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  z-index: 0;
  
}

.app__post-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 24px;
  gap: 36px;
  width: 428px;
  height: 271px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
 color: white;
}