.app__aboutus {
  background: #00373D;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__aboutus-container {
  display: flex;
  max-width: 880px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 60px 150px;
  background: #00373D;
  border: 1px solid #FFFFFF;
  padding: 60px 150px;
}

.app__aboutus-body {}

.app__aboutus-intro {}

.app__aboutus-header {}

.app__aboutus-header h2 {
  color: var(--color-secondary);
  text-align: center;
  /* margin-bottom: 20px; */
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 34px;
  line-height: 46px;
}

.app__aboutus-description {}

.app__aboutus-description p {
  color: var(--color-secondary);
  text-align: center;
  font: var(--font-base);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

}

.app__aboutus-button {
  display: flex;
  justify-content: center;
}


.app__aboutus-image {}

.app__aboutus-image img {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: none;
  width: 100%;
}


/* CSS */
.button-18 {
  align-items: center;
  background-color: #00373D;
  border: solid white 1px;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}