.background__image {
  background-image: url('https://images.unsplash.com/photo-1496412705862-e0088f16f791?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  background-position: center left;
  justify-content: center;
  align-items: center;
  z-index: -1;
  width: 100%;
  position: relative;
}

.app__hero-header {
  background-color: rgba(0, 0, 0, .69);
}

.app__hero-header h1 {
  font-family: var(--font-base);
  font-weight: 300;
  font-size: 60px;
  line-height: 64px;
  text-align: center;
  color: var(--color-secondary);
  /* color: black; */
}


.app__navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 60px;
  border-bottom: 1px solid white;
  z-index: 0;
  background: transparent;
  position: absolute;
  top: 0;

width: 100%;
}

.app__navbar-logo {
  border-right: 1px solid white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 72px;
  height: 60px;
  z-index: 1;
}

.app__navbar-logo img {
  width: 52px;
  height: 44px;
  z-index: 1;
}

.app__navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  color: white;
  z-index: 1;
}

.app__navbar-link:hover {
  background-color: rgba(255, 255, 255, .4);

}

.app__navbar-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 18px 24px;
  width: 111px;
  height: 60px;
  border-left: 1px solid white;
  flex: none;
  z-index: 1;
}

.app__navbar-link a {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  z-index: 1;
}